*{
    margin: 0;
}
nav{
    height: 70px;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav1{
    height: 70px;
    width: 100vw;
    background-color: rgb(174, 207, 192);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav2{
    height: 70px;
    width: 100vw;
    background-color: rgb(146, 18, 153);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav3{
    height: 70px;
    width: 100vw;
    background-color: rgb(42, 32, 134);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav4{
    height: 70px;
    width: 100vw;
    background-color: rgb(232, 214, 16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav5{
    height: 70px;
    width: 100vw;
    background-color: rgb(229, 236, 229);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav6{
    height: 70px;
    width: 100vw;
    background-color: rgb(193, 7, 207);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav7{
    height: 70px;
    width: 100vw;
    background-color: rgb(244, 151, 13);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav8{
    height: 70px;
    width: 100vw;
    background-color: rgb(126, 169, 121);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#nav9{
    height: 70px;
    width: 100vw;
    background-color: rgb(154, 138, 152);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}